<div class="cube">
  <img class="cube" src="{{_imageUrl}}" />
  <p class="name">{{_name}}</p>
  <p><span>Difficulty level:</span> {{_difficultyLevel}}</p>
  <a class="btn" href="cube/{{_id}}">Details</a>
</div>