<main>
  <h1>Browser</h1>
  <form action="/" method="post">
    <input type="text" class="search" name="search" placeholder="Search..." />
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." />
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." />
    <input type="submit" value="search" />
  </form>

  {{#if err}}
  <strong><h2>{{err}}</h2></strong>
  {{/if}}
  {{#each cubes}}
  {{> cubeCard}}
  {{/each}}

</main>